services:
    app:
        container_name: app
        build:
            context: ../../
            dockerfile: app/Dockerfile
        ports:
            - "${PORT}:${PORT}"
        env_file:
            - .env
